body { 
  font-family: Arial, sans-serif;
  background: #000; 
}
	
.mobile-container {
  max-width: 280px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url("background.jpg");  
  background-position: center top;  
  background-position-y: 10px;  
  height: 430px;
  opacity: 0.9;
}

.menu-container {
  display: inline-flex;
  opacity: 0.9;	
}
		
.nav-button {
  font-size: 26px;
  cursor: pointer;
  background-color: Transparent;
  color: white;
  text-decoration: none;
  position: relative;
  top: 22px;
  left: 15px;
}

.nav-button:hover {
  opacity: 0.7;
}
		
.pie-slider {
  position: relative;
  top: 59px;
  left: 51px;
  opacity: 1.0;
}

.rs-control .rs-handle {
  background: #C9CACD;
}
		
.volume-buttons {
  position: relative; 
  top: 0px;
  opacity: 0.8;
}

.circle {
  background-color: #000;s
  box-shadow: 0px 0px 2px 2px #000;	
  padding: 0px;  
  outline: none;
  color: #C9CACD;
  font-size: 18px;
  font-family: "Times New Roman";
  cursor: pointer;	
  border-radius: 50%;
  display: inline-flex;
  align-items: center; 
  justify-content: center;	  
}

.circle:hover {
  opacity: 0.7;	
}

.circle:active {
  background-color: #000;
  box-shadow: 0px 0px 5px 5px #00CED1;
}

.volume-mute {
  background-color: Transparent;
  font-family: "Arial";
  font-size: 11px;
  width: 40px;
  height: 40px;  
  position: relative;
  top: -111px;
  left: 71px;
}

.volume-minus {
  background-color: #111;
  font-size: 40px;
  width: 46px;
  height: 46px;  
  position: relative;
  top: -15px;
  left: 90px;
}

.volume-plus {
  background-color: #111;
  font-size: 40px;
  width: 46px;
  height: 46px;
  position: relative;
  top: -15px;
  left: 96px;
}
		
.info-container-bg {
  position:relative;
  width: 260px;
  height: 70px;
  top: -5px;
  left: 10px;		  
  background-color: #111;
  opacity: 0.9;
}

.info-container {
  position:relative;
  left: 10px;		  
}

.volume-container {
  position:relative;
  width: 50px;
  top: -44px;
  left: 178px;
  font-size: 38px;
  color: cyan;  
  text-align: right;
}

.header-label {
  position:relative;
  top: 4px;
  left: 15px;
  font-size: 12px;
  color: white;
  opacity: 0.7;
}

.auto-label {
  position:relative;
  top: 4px;
  left: 14px;
  font-size: 9px;
  color: cyan;
}

.info-label {
  position:relative;
  top: 4px;
  left: 15px;
  font-size: 24px;
  color: cyan;
}

.info-label:hover {
  opacity: 0.7;
}

.format-label {
  position:relative;
  top: 2px;
  left: 15px;
  font-size: 12px;
  color: cyan;
}

.input-buttons {
  position: relative;
  width: 260px;
  height: 50px;
  background-color: Transparent;
  top: -25px;
  left: 2px;
  margin: auto;
}

.btn1 {
  background-color: #111;
  box-shadow: 0px 0px 1px 1px #000;
  color: #C9CACD;
  width: 61px;
  height: 40px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5%;
  outline: none;
}

.btn1:hover {
  opacity: 0.7;
}

.btn1:active {
  background-color: #000;
  box-shadow: 0px 0px 5px 5px #00CED1;
}